#image {
 max-width: 300px;
    max-height: 300px;
    padding-bottom: 15px;
    padding-left: 5px;
    padding-right: 5px;
}

.gallery {
    padding-top: 100px;
    text-align: center;
}
#add_photo {
    position: fixed;
    top:92%;
    margin-left: 88%;
}
.modal-body {
    color: black;
    margin-right: 120px;
    font-family: "Lora", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#button {
    margin-left: 120px;
}
.modal-title {
    color: #2e6da4;
}




