{% load static %}
{% load bootstrap3 %}
{% load account %}
{% load i18n %}


<head>
    {% block head %}
    {% endblock %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    {% bootstrap_css %}
    <script type="text/javascript" src="jquery-3.1.1.min.js"/>
    {% bootstrap_javascript %}
    <title>
        {% block title %}
            title
        {% endblock %}
    </title>


    <!-- Custom Fonts -->
    <link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet"
          type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">

    <!-- Theme CSS -->

    <link href="{% static "css/grayscale.css" %}" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
<div class="modal fade" id="loginModal" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-body">

                <form class="form-inline" action="{% url 'account_login' %}" method="post">
                    {% csrf_token %}
                    <label class="sr-only" for="inlineFormInput">Username</label>
                    <input type="hidden" name="next" value="{{ request.get_full_path }}"
                           class="form-control mb-2 mr-sm-2 mb-sm-0" id="inlineFormInput"
                           placeholder=";)"/>

                    <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                        <div class="input-group-addon">@</div>
                        <input id="id_login" name="login" placeholder="Username or e-mail" type="text" required
                               class="form-control"
                        >
                    </div>
                    <label class="sr-only" for="inlineFormInputGroup">Password</label>
                    <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                        <input id="id_password" name="password" placeholder="Password" type="password" required
                               class="form-control"
                        />
                    </div>


                    {#                            <div class="form-check mb-2 mr-sm-2 mb-sm-0">#}
                    {#                                <label class="form-check-label">#}
                    {#                                    <input style="color: dodgerblue" class="form-check-input" d="id_remember" name="remember" type="checkbox"/> Remember me#}
                    {#                                </label>#}
                    {#                            </div>#}

                    <button type="submit" class="btn btn-success">Login</button>
                </form>
            </div>
        </div>
    </div>

</div>
<div class="modal fade" id="logoutModal" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-body">
                <form method="post" action="{% url 'account_logout' %}">
                    {% csrf_token %}
                    {% if redirect_field_value %}
                        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
                    {% endif %}
                    <button style="width: 100%;margin-left: 13%" class="btn btn-lg btn-danger" type="submit">{% trans 'Sign Out' %}</button>
                </form>
            </div>
        </div>

    </div>
</div>
</div>

<!-- Navigation -->
<nav class="navbar navbar-custom navbar-fixed-top" style="background-color: #1b6d85; opacity: .8;" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                Menu <i class="fa fa-bars"></i>
            </button>
            <a class="navbar-brand page-scroll" href="/">
                <i class="fa fa-play-circle"></i> <span class="light">Naomi</span> and Marc <span
                    class="com">.com</span>
            </a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
            <ul class="nav navbar-nav">
                <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                <li class="hidden">
                    <a href="/"></a>
                </li>
                <li>
                    <a class="page-scroll" href="/timeline">Timeline</a>
                </li>
                <li>
                    <a class="page-scroll" href="/gallery">Photos</a>
                </li>

                {% if user.is_authenticated %}
                    <li>
                        <a class="page-scroll" data-toggle="modal" date-targer="#logoutModal" href="#logoutModal">
                            Welcome, {{ user }} <span class="glyphicon glyphicon-user"></span> </a>
                    </li>
                {% else %}
                    <li>
                        <a class="page-scroll" data-toggle="modal" date-targer="#loginModal" href="#loginModal">Log
                            In</a>
                    </li>
                {% endif %}

            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->


</nav>
{% block content %}

{% endblock %}

</body>
</html>


{% block extra_js %}
{% endblock %}

